div {
    min-height: 250px;
}
.one {
    background-color: #26235B;
}
.two {background-color: #002764;}
.three{background-color: #003082;}
.four{background-color:#03319A ;}
.five{background-color:#1D049F;}
.six{background-color: #2c21e0;}
.seven{background-color: #30c9e8;}
.eight{background-color: #00B3B4;}
.nine{background-color:#1ec76a ;}
.ten{background-color: #5A9D04;}
.eleven{background-color: #FFD204;}
.twelve{background-color:#fcd300 ;}
.thirteen{background-color: #E69900;}
.fourteen{background-color: #F69824;}
.fifteen{background-color:#F5821F ;}
.sixteen{background-color: #E4682A;}
.seventeen{background-color: #DD5400;}
.eighteen{background-color:#CC2336;}
.nineteen{background-color: #DD003F;}
.twenty{background-color: #f90f76;}
.twentyone{background-color: #A22160;}
.twentytwo{background-color: #812878;}
.twentythree{background-color: #F1ADBD;}
.twentyfour{background-color: #FADEEE;}
.twentyfive{background-color: #D1D1E8;}
.twentysix{background-color: #E8EFDF;}
.twentyseven{background-color: #EADFD6;}
.twentyeight{background-color:#F0CFB9 ;}
.twentynine{background-color: #F7E7CF;}
.thirty{background-color: #F7E6D5;}
.thirtyone{background-color: #FFF9D6;}
.thirtytwo{background-color: #FDFFFA;}
.thirtythree{background-color: #EBEBEB;}
.thirtyfour{background-color: #E6E6E6;}
.thirtyfive{background-color: #D0D3D4;}
.thirtysix{background-color: #BFBAAF;}
.thirtyseven{background-color: #7C878E;}
.thirtyeight{background-color: #60605B;}
.thirtynine{background-color: #444140;}