body {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #000080;
  color: #444140;
  font-family:FarsiFont, Tahoma;
}

/* Navbar */
.navbar > .btn-outline-dark:hover {
  background-color: #113245;
}
.navbar {
  background-color: #30c9e8;
  border-bottom-left-radius: 2rem;
}
.signup {
  text-align: left;
}

/* Introduction */
.introduction > h1 {
  color: #FDFFFA;
}
.introduction {
  color: #FDFFFA;;
  position: relative;
  padding: 4rem;
  text-align: right;
  z-index: 1;
  margin-bottom: 4rem;
}

/* Features */
.features {
  position: relative;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: #FDFFFA;
  text-align: center;
  padding: 2rem;
}
.features .skew {
  max-width: 70%;
  padding: 2rem;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

/* Genaral Crds */
.card {
  padding-bottom: 20rem;
  text-align: center;
  margin: 1.5rem;
  border-radius: 1rem;
  width: auto;
  height: auto;
  padding: 0;
  border: #c6ccd8 1px solid;
  border-bottom: 0;
  z-index: 1;
}

.card-body {
  padding: 0;
}
.card-text {
  padding: 1rem;
}

.card a{
  margin: 0;
  width: 100%;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.card:hover a{
  padding: auto;
  margin: auto;
  background-color:#FDFFFA;
  color:#113245;
  border: #c6ccd8 solid 4px;

  box-shadow: 0px 1px 1.5px 1px #FDFFFA;
  transform: translateY(-0.5px);
  -webkit-transform: translateY(-0.5px);
  -moz-transform: translateY(-0.5px);
  -ms-transform: translateY(-0.5px);
  -o-transform: translateY(-0.5px);
}
.card a:hover {
  box-shadow: 0px 1px 1.5px 1px #FDFFFA;
  transform: translateY(-0.5px);
  -webkit-transform: translateY(-0.5px);
  -moz-transform: translateY(-0.5px);
  -ms-transform: translateY(-0.5px);
  -o-transform: translateY(-0.5px);
}
.btn {
  border-radius: 20px;
}

/* Note */
.cardNote a {
  background-color: red;
  color: #FDFFFA;
}
.cardNote:hover {
  background-color:red;
  color: #FDFFFA;
  transition: background-color 250ms linear;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
}

/* Question */
.cardQuestion a {
  background-color: green;
  color: #FDFFFA;
}
.cardQuestion:hover {
  background-color: green;
  color: #FDFFFA;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

/* Project */
.cardProject a {
  background-color: blue;
  color: #FDFFFA;
}
.cardProject:hover {
  background-color: blue ;
  color: #FDFFFA;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

/* TA */
.cardTA a {
  background-color: purple;
  color: #FDFFFA;
}
.cardTA:hover {
  background-color: purple;
  color: #FDFFFA;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

/* Contest */
.cardContest a {
  background-color: orange;
  color: #FDFFFA;
}
.cardContest:hover {
  background-color: orange;
  color: #FDFFFA;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

/* Profile */
.cardProfile a {
  background-color: #df9d39;
  color: #FDFFFA;
}
.cardProfile:hover {
  background-color: #df9d39;
  color: #FDFFFA;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

/* Footert */
.footer {
  position: relative;
  min-height: 15rem ;
  background-color: #000080;
  color: #FDFFFA;;
  padding-top: 8rem;
  margin-bottom: 0;
  text-align: center;
  border-top-left-radius: 100px;
  z-index: 2;
}
.footer .skew {
  /* transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg); */
}


@font-face {
  font-family: 'FarsiFont';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/vazir/Vazir-Bold.eot');
  src: url('fonts/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
     url('fonts/vazir/Vazir-Bold.woff2') format('woff2'),
     url('fonts/vazir/Vazir-Bold.woff') format('woff'),
     url('fonts/vazir/Vazir-Bold.ttf') format('truetype');
  }
