body {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #30c9e8;
  color: #444140;
  font-family:FarsiFont, Tahoma;
}
.navbar > .btn-outline-dark:hover {
  background-color: #113245;
}
.navbar {
  background-color: #30c9e8;
}
.introduction > h1 {
  color: #FDFFFA;;
} 
.signup {
  text-align: left;
}
.btn {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.introduction {
  position: relative;
  padding: 4rem;
  text-align: right;
  z-index: 1;
  margin-bottom: 4rem;
}
/* .features::before {
  content: "";
  width: 100px;
  height: 150px;
  background-color: #113245;
  position: absolute;
  top: -99px;
  right: 0;
  z-index: -2;
}
.features::after {
  content: "";
  width: 200px;
  height: 200px;
  background-color: #30c9e8;
  position: absolute;
  right: 0;
  top: -200.5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -1;
} */
.features {
  position: relative;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: #FDFFFA;
  text-align: center;
  padding: 2rem;
  /* transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg); */
}
.features .skew {
  /*transform: skewY(2deg);
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  */
  max-width: 70%;
  padding: 2rem;
  background-color: #113245;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin-top: -10rem;
  margin-bottom: -5rem;
}
.card {
  padding-bottom: 10rem;
  text-align: center;
  margin: 1.5rem;
  border-radius: 4rem;
  width: 80%;
  height: 80%;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
}
.card a{
  border-color: #30c9e8;
  width: 150%;
}
.card:hover a{
  padding: auto;
  margin: auto;
  background-color:#FDFFFA;
  color:#113245;
  border: 2rem;
}
.cardNote {
  border:#30c9e8 10px solid;
}
.cardNote a:hover {
  background-color: #1D049F;
  box-shadow: 0px 1px 1.5px 1px #FDFFFA;
  color: #FDFFFA;
  transform: translateY(-0.5px);
  -webkit-transform: translateY(-0.5px);
  -moz-transform: translateY(-0.5px);
  -ms-transform: translateY(-0.5px);
  -o-transform: translateY(-0.5px);
}

.cardQuestion {
  border: #30c9e8 0px solid;
  background-color: #ffdf4e;
}
.cardQuestion a {
  background-color: #113245;
  color: #ffdf4e;
  border: 0px;
}
.cardTA {
  border: #30c9e8 10px solid;
}
.cardProject {
  border: #30c9e8 10px solid;
}

.cardContest{
  border: #30c9e8 10px solid;
}
.cardProfile {
  border: #30c9e8 10px solid;
}
.cardNote:hover {
  background-color:#30c9e8;
  color: #FDFFFA;
  transition: background-color 250ms linear;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
}
.cardQuestion:hover {
  background-color: #30c9e8;
  color: #FDFFFA;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
.cardTA:hover {
  background-color: #30c9e8;
  color: #FDFFFA;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
.cardProject:hover {
  background-color: #30c9e8 ;
  color: #FDFFFA;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
.cardContest:hover {
  background-color: #30c9e8;
  color: #FDFFFA;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
.cardProfile:hover {
  background-color:#30c9e8;
  color: #FDFFFA;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
/* .fill-empty-space {
  min-height: 350px;
  margin-top: -90px;
  background-color: #113245;
  z-index: -1;
} */
.footer {
  position: relative;
  min-height: 15rem ;
  background-color: #30c9e8 ;
  margin-bottom: 0;
  text-align: center;
  border-top-left-radius: 100px;
  /* transform: skewY(2deg);
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg); */
  z-index: 2;
}
/* .footer::before {
  content: "";
  width: 100px;
  height: 150px;
  background-color:#FDFFFA;
  position: absolute;
  top: -99px;
  left: 0;
  z-index: -2;
}

.footer::after {
  content: "";
  width: 200px;
  height: 200px;
  background-color: #113245;
  position: absolute;
  left: 0;
  top: -200.5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -1;
} */

.footer .skew {
  /* transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg); */
}


@font-face {
  font-family: 'FarsiFont';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/vazir/Vazir-Bold.eot');
  src: url('fonts/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
     url('fonts/vazir/Vazir-Bold.woff2') format('woff2'),
     url('fonts/vazir/Vazir-Bold.woff') format('woff'),
     url('fonts/vazir/Vazir-Bold.ttf') format('truetype');
  }
