body {
  margin: 0;
  padding: 0;
  background-color: #003153;
  color: #444140;
  font-family:FarsiFont, Tahoma;
}

/* Navbar *************************************************************/
.navbar .btn-outline-dark {
  border-color: #FDFFFA;
  color: #FDFFFA;
}
.navbar {
  background-color: #003153;
  border-bottom: solid 2px #FDFFFA;
  z-index: 1;
}
.signup {
  text-align: left;
}

/* Sidebar *************************************************************/
.sidebar {
  margin-top: 4rem;
  background-color: #003153;
  height: 100%;
  position: fixed;
  border: solid 2px #FDFFFA;
  padding-right: 0;
  width: 20%;
  overflow: hidden;
}
.sidebar .item {
  color: #FDFFFA;
  margin-right: 0;
  margin-top: 2rem;
  text-align: right;
  width: 100%;
  margin-right: 0;
  border: solid 2px #FDFFFA;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 0;
  display: block;
}

/* Introduction *************************************************************/
.introduction > h1 {
  color: #FDFFFA;
}
.introduction {
  color: #FDFFFA;
  position: relative;
  padding: 4rem;
  text-align: right;
  z-index: 1;
  margin-bottom: 4rem;
}

/* Features *************************************************************/
.features {
  position: relative;
  background-color: #FDFFFA;
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
}
.features .skew {
  max-width: auto;
  padding: 2rem;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

/* Genaral Crds *************************************************************/
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding-bottom: 20rem;
  text-align: center;
  margin: 1.5rem;
  border-radius: 1rem;
  width: auto;
  height: auto;
  padding: 0;
  z-index: 1;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-body {
  padding: 0;
}
.card-text {
  padding: 1rem;
}

.card a{
  margin: 0;
  width: 100%;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.card:hover a{
  padding: auto;
  margin: auto;
  background-color:#FDFFFA;
  color:#113245;
  border: #c6ccd8 solid 1px;

  box-shadow: 0px 1px 1.5px 1px #FDFFFA;
  transform: translateY(-0.5px);
  -webkit-transform: translateY(-0.5px);
  -moz-transform: translateY(-0.5px);
  -ms-transform: translateY(-0.5px);
  -o-transform: translateY(-0.5px);
}
.card a:hover {
  box-shadow: 0px 1px 1.5px 1px #FDFFFA;
  transform: translateY(-0.5px);
  -webkit-transform: translateY(-0.5px);
  -moz-transform: translateY(-0.5px);
  -ms-transform: translateY(-0.5px);
  -o-transform: translateY(-0.5px);
}
.btn {
  border-radius: 20px;
}

/* Note *************************************************************/
.cardNote a {
  background-color: red;
  color: #FDFFFA;
}
.cardNote:hover {
  background-color:red;
  color: #FDFFFA;
  transition: background-color 250ms linear;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
}

/* Question *************************************************************/
.cardQuestion a {
  background-color: green;
  color: #FDFFFA;
}
.cardQuestion:hover {
  background-color: green;
  color: #FDFFFA;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

/* Project *************************************************************/
.cardProject a {
  background-color: blue;
  color: #FDFFFA;
}
.cardProject:hover {
  background-color: blue ;
  color: #FDFFFA;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

/* TA *************************************************************/
.cardTA a {
  background-color: purple;
  color: #FDFFFA;
}
.cardTA:hover {
  background-color: purple;
  color: #FDFFFA;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

/* Contest *************************************************************/
.cardContest a {
  background-color: orange;
  color: #FDFFFA;
}
.cardContest:hover {
  background-color: orange;
  color: #FDFFFA;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

/* Profile *************************************************************/
.cardProfile a {
  background-color: #df9d39;
  color: #FDFFFA;
}
.cardProfile:hover {
  background-color: #df9d39;
  color: #FDFFFA;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

/* Landing Footer */
.footer {
  position: relative;
  min-height: 15rem ;
  background-color: #003153;
  color: #FDFFFA;;
  padding-top: 8rem;
  margin-bottom: 0;
  text-align: center;
  z-index: 2;
}
.social {
  width: 30%;
  margin: auto;
}
.social .card {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: white 1px solid;
  padding: 1rem;
  margin: -6rem auto 10rem auto;
}

/* Footer */
.sidebar .footer {
  width: 100%;
  position: relative;
  background-color: #003153;
  color: #FDFFFA;
  margin-bottom: 2rem;
  z-index: 2;
}
.sidebar .social {
  text-align: center;
  position: absolute;
  width: 100%;
  margin-left: 1rem;
  margin-top: 5rem;
}
.sidebar .skew {
  text-align: center;
  padding: 0;
  margin: auto;
  margin-bottom: 2rem;
}


/* Font */
@font-face {
  font-family: 'FarsiFont';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/vazir/Vazir-Bold.eot');
  src: url('fonts/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
     url('fonts/vazir/Vazir-Bold.woff2') format('woff2'),
     url('fonts/vazir/Vazir-Bold.woff') format('woff'),
     url('fonts/vazir/Vazir-Bold.ttf') format('truetype');
  }
